@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: monospace;
}

.caesar {
    display: flex;
    flex-direction: column;
    background-color: #010a00;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.heading {
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    font-size: 5rem;
    font-family: Varela;
}

.subheading {
    font-size: 2.5rem;
    color:rgb(227, 96, 244);
    margin-bottom: 2rem;
    text-align: center;
}

.shift {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: rgb(55, 247, 247);
}


textarea {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(236, 158, 158);
    height: 15rem;
    width: 50rem;
    margin: none;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1rem ridge rgba(245, 169, 55, 0.6); 
    border-radius: 0.5rem;
    color:rgb(5, 12, 112);
    outline: none;
}